Realizaré un scraping de la página web `IMDb` para sacar el rating de las películas con mejor valoración

### Librería

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import scr.limpieza as lt

In [3]:
url = "https://www.imdb.com/chart/moviemeter/?sort=ir,desc&mode=simple&page=1"
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")

In [4]:
titles = soup.find_all("td", {"class": 'titleColumn'})

In [5]:
rating = soup.find_all("td", {"class": 'ratingColumn imdbRating'})

In [6]:
#Es importante que todas las listas tengan el mismo número de filas 
lista_titles = [a.getText().strip() for a in titles]
lista_t = lista_titles
len(lista_t)

100

In [7]:
lista_rating = [precio.getText().strip() for precio in rating]
lista_r = lista_rating
len(lista_r)

100

In [8]:
#Creamos un diccionario para hacer un DataFrame
diccionario = {"Title": lista_t, "Rating": lista_r}

In [10]:
df1 = pd.DataFrame(diccionario)
df1.head()

                                               Title Rating
0               Cadena perpetua\n(1994)\n59\n(\n\n1)    9.3
1                   El padrino\n(1972)\n35\n(\n\n32)    9.2
2           El caballero oscuro\n(2008)\n56\n(\n\n5)    9.0
3  El señor de los anillos: La comunidad del anil...    8.8
4      Salvar al soldado Ryan\n(1998)\n36\n(\n\n184)    8.6

In [17]:
#Con esta función nos quedamos con los títulos de las peliculas
def limpia_precio(x):
    x = x.split("\n")
    x = x[0].split(" .")
    return x[0] + " ."

df1.Title = df1.Title.apply(limpia_precio)
df1

                                                Title Rating
0                                   Cadena perpetua .    9.3
1                                        El padrino .    9.2
2                               El caballero oscuro .    9.0
3   El señor de los anillos: La comunidad del anil...    8.8
4                            Salvar al soldado Ryan .    8.6
..                                                ...    ...
95                               Despierta la furia .
96                                             Dune .
97                           Thor: Love and Thunder .
98                        Cosas escuchadas y vistas .
99                           La mujer en la ventana .

[100 rows x 2 columns]

In [10]:
list_ = ['Joker .', 'Thor: Ragnarok .', 'Vengadores: Infinity War .', 'El juicio de los 7 de Chicago .', 'Black Panther .']

In [11]:
#Con esta función nos quedamos con aquellas películas de IMDb que coincid
df2 = lt.create(df1,'Title',list_)
df2

                              Title Rating
7                           Joker .    8.4
8        Vengadores: Infinity War .    8.4
17                 Thor: Ragnarok .    7.9
19  El juicio de los 7 de Chicago .    7.8
38                  Black Panther .    7.3

In [12]:
df1 = pd.read_csv("netflix_clean.csv", encoding = "ISO-8859-1")
df1

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year,month
0,0,s1,TV Show,3%,NaN,"JoÃÂ£o Miguel, Bianca Comparato, Michel Gomes...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020,August
1,1,s2,Movie,7:19,Jorge Michel Grau,"DemiÃÂ¡n Bichir, HÃÂ©ctor Bonilla, Oscar Ser...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016,December
2,2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018,December
3,3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017,November
4,4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020,October
7783,7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019,March
7784,7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020,September
7785,7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020,October
7786,7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020,March

In [13]:
list_regex = [r'^joker$', r'^thor: ragnarok$', r'avengers: infinity war$', r'the trial of the chicago 7$', r'black panther$']
films = ['Joker', 'Thor: Ragnarok', 'Avengers: Infinity War', 'The Trial of the Chicago 7', 'Black Panther']

In [14]:
df1['Title'] = df1.title.str.lower().replace(list_regex, films, regex=True)

In [15]:
list_ = ['Joker', 'Thor: Ragnarok', 'The lord of the rings: The Return of the King', 'Avengers: Infinity War', 'The Trial of the Chicago 7', 'Black Panther']

In [16]:
df = lt.create(df1,'title',list_)
df

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year,month,Title
635,635,s636,Movie,Avengers: Infinity War,"Anthony Russo, Joe Russo","Robert Downey Jr., Josh Brolin, Mark Ruffalo, ...",United States,"December 25, 2018",2018,PG-13,150 min,"Action & Adventure, Sci-Fi & Fantasy",Superheroes amass to stop intergalactic sociop...,2018,December,Avengers: Infinity War
959,959,s960,Movie,Black Panther,Ryan Coogler,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",United States,"September 4, 2018",2018,PG-13,135 min,"Action & Adventure, Sci-Fi & Fantasy","T'Challa, the superpowered new leader of the h...",2018,September,Black Panther
3215,3215,s3216,Movie,Joker,Shirish Kunder,"Akshay Kumar, Sonakshi Sinha, Shreyas Talpade,...",India,"August 2, 2018",2012,TV-PG,98 min,"Comedies, International Movies, Music & Musicals",A remote village situated neither in India or ...,2018,August,Joker
6940,6940,s6941,Movie,The Trial of the Chicago 7,Aaron Sorkin,"Sacha Baron Cohen, Eddie Redmayne, Yahya Abdul...","United States, United Kingdom, India","October 16, 2020",2020,R,130 min,Dramas,What was supposed to be a peaceful protest tur...,2020,October,The Trial of the Chicago 7
7058,7058,s7059,Movie,Thor: Ragnarok,Taika Waititi,"Chris Hemsworth, Tom Hiddleston, Cate Blanchet...",United States,"June 5, 2018",2017,PG-13,131 min,"Action & Adventure, Comedies, Sci-Fi & Fantasy",To save Asgard from a bloodthirsty goddess of ...,2018,June,Thor: Ragnarok

In [18]:
df.to_csv("netflix_scrapping.csv")
df2.to_csv("Imbd.csv")